<div class="signup-container">
  <h2>New post</h2>
  <form id="new-post-form" action="/posts" method="post">
    <input id="message" type="text" name="message" value="" placeholder="e.g. Hello!">
    <br><input id="submit-post" type="submit" value="Submit">
  </form>
</div>